@import '../sass/variables';
@import '../sass/mixins';

.about {
    background-color: #fef2e1;
    padding: $section-padding;
}

.about--{
    &subtitle {
        @include subtitle (left, 1.8em);
        padding: 0;
    }
    &container {
        display: flex;
        margin: 0 8em;
        gap: 2em;
        height: 20em;
    }
    &button {
        @include input;
        width: 10em;
        cursor: pointer;
    }
    &description {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: space-around;
    }
    &img {
        border-radius: 4px;
        height: 20em;
        box-shadow: 2px 2px 4px $shadow;
    }
}