@import '../sass/variables';

.card--container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
    gap: 8em;
    margin: 0;
    background-color: rgb(255, 247, 239);
}

.card--container__left {
    display: flex;
    justify-content: left;
}

.card--container__rigth {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.card--img {
    max-width: 30em;
    transform: scaleX(-1);
}

.card {
    background-color: $color1;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 8em;
    border-radius: 1em;
    box-shadow: 3px 3px 8px #444;
}

.card--text {
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-shadow: 2px 2px 4px black;
}