@import '../sass/variables';

.card--container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em,1fr));
    justify-items: center;
    margin: 0 12em;
    gap: 2em;
}

.card {
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
    border-radius: 1em;
    box-shadow: 3px 3px 8px #444;
}

.card--text {
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-shadow: 2px 2px 4px black;
    margin-right: 0.5em;
    margin-left: 0.5em;
}