@import '../sass/variables';
@import '../sass/mixins';

.inscription--container {
    z-index: 2;
    display: flex;
    position: relative;
    top: -76vh;
}

.inscription--form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.inscription--input {
    @include input;
}

.inscription--button {
    @include input;
    cursor: pointer;
    color: $primary;
    font-size: 1.3rem;
    margin-top: 0.5em;
    font-weight: 600;
    text-shadow: 0px 1px 1px $shadow;
}