@import '../sass/variables';
@import '../sass/mixins';

.inscription--container {
    z-index: 2;
    display: flex;
    position: relative;
    top: -76vh;
}

.inscription--form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-width: 17.0625em;
}

.inscription--input {
    @include input;
}

.inscription--button {
    @include input;
    cursor: pointer;
    color: $primary;
    font-size: 1.3rem;
    margin-top: 0.5em;
    font-weight: 600;
    text-shadow: 0px 1px 1px $shadow;
}

.form--first {
    right: -9em;
}

.form--second {
    right: 8.3em;
}

.form--true {
    opacity: 1;
    display: flex;
    position: relative;
}

.form--false {
    opacity: 1;
    display: flex;
    position: relative;
    right: 1000em;
}