@import '../sass/variables';

.inscription--main {
    background-color: $background-guitar;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscription--guitar__l {
    z-index: 1;
    width: 45%;
    position: relative;
    animation-name: open_l;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.inscription--guitar__r {
    z-index: 1;
    position: relative;
    width: 45%;
    animation-name: open_r;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.close--true__l {
    animation-name: close_l;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
}

.close--true__r {
    animation-name: close_r;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
}

@keyframes open_l {
    from {
        right: 0%;
    }

    to {
        right: 100%;
    }
}

@keyframes open_r {
    from {
        right: 0%;
    }

    to {
        right: -100%;
    }
}

@keyframes close_l {
    from {
        right: 100%;
    }

    to {
        right: 0%;
    }
}

@keyframes close_r {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}