@import '../sass/variables';

.guitar--container {
    position: relative;
    width: 100%;
    height: calc(100vh - 3em);
}

.inscription--main {
    background-color: $background-guitar;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscription--guitar__l {
    z-index: 1;
    width: 5.92em;
    position: relative;
    top: -1em;
    animation-name: open_l;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.inscription--guitar__r {
    z-index: 1;
    position: relative;
    top: -1em;
    width: 5.92em;
    animation-name: open_r;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.close--true__l {
    animation-name: close_l;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
}

.close--true__r {
    animation-name: close_r;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
}

@keyframes open_l {
    from {
        left: 41.475%;
    }
    
    to {
        left: 25%;
    }
}

@keyframes open_r {
    from {
        left: 41.535%;
    }
    
    to {
        left: 60%;
    }
}

@keyframes close_l {
    from {
        left: 25%;
    }

    to {
        left: 41.475%;
    }
}

@keyframes close_r {
    from {
        left: 60%;
    }

    to {
        left: 41.535%;
    }
}