@import '../sass/variables';

.teachers--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.teacher--card {
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 70em;
    background-color: white;
    justify-content: start;
    border-radius: 0.5em;
    box-shadow: 3px 4px 6px $shadow;
    gap: 1.5em;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    &__description {
        width: 50%;
    }

    &__img {
        width: 50%;
    }
}

.teacher--img {
    width: 100%;
}

.description-- {
    &skill {
        color: black;
    }
    &icons {
        color: black;
    }
    &icon {
        color: black;
    }
    &subtitle {
        color: black;
    }
    &title {
        font-size: 2em;
        color: red;
        font-weight: 600;
    }  

    &ul {
        color: black;
    }
}