@import './sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    background-color: #f7f8fc;
    //font-family: 'Bebas Neue', cursive;
    font-family: 'Barlow Condensed', sans-serif;
}

.img {
    max-width: 98vw;
}

.div {
    width: 100%;
    height: 88vh;
    background-image: url('./images/3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.separate {
    height: 2em;
    width: 100%;
    background-color: $color1;
}