body {
    margin: 0;
    background-color: #ddd;
}

.icon--wp{
	position: fixed;
    width: 4.7em;
	bottom: 1.2em;
	right: 1.2em;
	filter: drop-shadow(2px 2px 3px #999);
    z-index: 10;
}

.float:hover {
    background-color:#1ab152;
}